server:
  port: 8080


spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: false

  mail:
    host: smtp.mail.ru
    username: "your-mail@mail.ru"
    password: "application-mail-password"
    port: 465
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          ssl:
            enable: true
          starttls:
            enable: false

fxrates:
  api:
    api-key:
    base-url:

mail:
  content: "Dear {name}, please follow the link below to verify your account: <a href={url}>VERIFY</a>"
  from: "your-mail@mail.ru"
  sender: Test Application
  subject: Please verify your account